@import "../../Global.scss";

.benefits {
  width: 100%;
  height: 300px;
  background-color: #0f1421;

  .wrapper {
    display: flex;
    float: left;
    margin-left: 150px;
    flex-direction: column;

    .title-container {
      h1 {
        font-size: 50px;
        font-weight: 500;
        color: white;
      }
      h2 {
        font-size: 50px;
        font-weight: 500;
        color: #007bff;
      }
      @include mobile {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        h1 {
          font-size: 30px;
        }
        h2 {
          font-size: 30px;
        }
      }
    }
    .desc-container {
      height: 100px;
      width: 400px;
      overflow: hidden;

      p {
        font-size: 20px;
        color: white;
      }

      @include mobile {
        display: flex;
        flex-direction: column;

        p {
          margin-left: 5px;
          font-size: 17px;
        }
      }
    }
    @include mobile {
      margin-left: 0;
    }
  }
}
